:root {
    --backgroundColor: #272727;
    --textColor: #fff;
    --primaryColor: rgb(9, 142, 0);
    --secondaryColor: rgb(203, 255, 171);
    --randoColor1: rgb(0, 255, 4);
    --randoColor2: rgb(74, 171, 0);
}